<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../Views/signin.css">
    
    
    <title>Document</title>
</head>

<body class="bg-[#FAECBC]">
    <nav class="navbar navbar-expand-lg bg-[#FF9955]">
        <div class="container-fluid">
          <img src="../Views/assets/logo.png">
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> -->
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <img src="../Views/assets/logo.png">
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> -->
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
                <!-- <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
           <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            </div>
        </div>
      </nav>


      <div class="col-12 mt-5  bg-body-success-subtle">
        <div class="row  justify-content-center"> 
        <!-- Content here -->
      
    <div class ="oho mt-5 bg-success">
      <div class="container text-center">
<h1>Inscription</h1>
<form>
  
    <input class="mt-5 rounded-pill border border-3 border-dark"type="text">
    <input class="mt-5 rounded-pill border border-3 border-dark"type="text">
    <input class="col-6 mt-5 rounded-pill border border-3 border-dark" type="text">
    <input class="col-6  mt-5 rounded-pill border border-3 border-dark" id="sub" type="submit">
</form>
<!-- <img src="../Views/assets/Capture_d_écran_2023-02-21_20-01-17-removebg-preview(1).png"> -->
</div>
</div>
</div>
</div>

      
            </ul> -->
            </div>
          </div>
    </nav>
    <div class="container mx-auto justify-center flex  ">
      <img class="absolute -bottom-3 -left-11 w-[45rem] columns-6 " src="../Views/assets/image3.png">
      <!-- <div class="row  justify-content-center"> -->
    <div class=" oho bg-[#FFBF84] justify-center flex pt-20 mt-[70px] border-2 border-black ">
      <form id="signin__form" class ="grid text-center "method="post">
        <h1 class="text-3xl">Inscription</h1>
            <!-- <label>Pseudo</label> -->
            <input class="h-11 w-[20rem] rounded-full border-2 border-black" type="text" id="signin__fields" name="nickname">
            <!-- <label>Email</label> -->
            <input  class="h-11 rounded-full border-2 border-black" typetype="text" id="signin__fields" name="email">
            <!-- <label>Password</label> -->
            <input  class="h-11 rounded-full border-2 border-black" typetype="password" id="signin__fields" name="pass">
            <button class="h-11 w-[8rem] ml-[100px] bg-[#d49a9a] rounded-full border-2 border-black" type="submit" id="signin__button">Sign in</button>
            <img class="absolute -bottom-3 -left-11  " src="../Views/assets/Capture_d_écran_2023-02-21_20-01-17-removebg-preview(1).png">
        </form>
    </div>
  </div>
<!-- </div> -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="../Ajax/signin_ajax.js"></script>
</body>

</html>